{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Accueil
{% endblock %}

{% block body %}

	{% include "inc/_flash.html.twig" %}

	<div class="container d-flex my-4 justify-content-center">
		{% for chambre in chambres %}
			<div class="card mx-2" style="width: 36rem;">
				{% if chambre.photo %}
					<img src="{{chambre.photo}}" class="card-img-top w-100" alt="Chambre">
				{% else %}
					<img src="{{ asset('images/default.jpg') }}" class="card-img-top" alt="Chambre">
				{% endif %}
				<div class="card-body">
					<h3 class="card-title">{{ chambre.titre }}</h3>
					<p class="card-title">{{ chambre.descriptionCourte }}</p>
					<h5 class="card-text">
						{{ chambre.prix }}
						€
					</h5>
					<a href="{{path('chambre', {"id" : chambre.id})}}" class="btn btn-primary mt-2">En savoir plus</a>
				</div>
			</div>
		{% endfor %}
	</div>

	<div id="carouselHome" class="carousel carousel-dark slide my-5" data-bs-ride="false">
		<div class="carousel-indicators">
			{% for chambre in chambres %}
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{chambre.id - 1}}" class="active" aria-current="true" aria-label="Slide {{chambre.id}}"></button>
				{# <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> #}
			{% endfor %}
		</div>
		<div class="carousel-inner">
			{% for chambre in chambres %}
				<div class="carousel-item active">
					{% if chambre.photo %}
						<img src="{{chambre.photo}}" class="d-block w-100" alt="Chambre">
					{% else %}
						<img src="{{ asset('images/default.jpg') }}" class="d-block w-100" alt="Chambre">
					{% endif %}
					<div class="carousel-caption d-none d-md-block">
						<h3>{{ chambre.titre }}</h3>
						<p>{{ chambre.descriptionCourte }}</p>
						<h5 class="card-text">{{ chambre.prix }}
							€</h5>
						<a href="{{path('chambre', {"id" : chambre.id})}}" class="btn btn-primary mt-2">En savoir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
	</div>
{% endblock %}
