{% extends 'base.html.twig' %}

{% block title %}Chambre index
{% endblock %}

{% block body %}
	<h1>Chambre index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
        <th>Catégorie</th>
				<th>Titre</th>
				<th>Description Courte</th>
				<th>Photo</th>
				<th>Prix</th>
				<th>CreatedAt</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{ chambre.id }}</td>
          <td class="fst-italic text-secondary">{{ chambre.categorie.nom }}</td>
					<td>{{ chambre.titre }}</td>
					<td>{{ chambre.descriptionCourte }}</td>
					{% if chambre.photo %}
						<td><img src="{{ chambre.photo }}" alt="Chambre" class="img200"></td>
					{% else %}
						<td></td>
					{% endif %}
					<td>{{ chambre.prix }} €</td>
					<td>{{ chambre.createdAt ? chambre.createdAt|date('d/m/Y H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_chambre_show', {'id': chambre.id}) }}">show</a>
						<a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_chambre_new') }}" class="btn btn-success my-1">Nouvelle chambre</a>
	<a href="{{ path('app_admin') }}" class="btn btn-outline-secondary my-1">Retour au dashboard</a>
{% endblock %}
