{% extends 'base.html.twig' %}

{% block title %}Slider index
{% endblock %}

{% block body %}
	<h1>Slider index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
        <th>Ordre</th>
				<th>Photo</th>
        <th>Titre</th>
				<th>Date de création</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for slider in sliders %}
				<tr>
					<td>{{ slider.id }}</td>
          <td>{{ slider.ordre }}</td>
					<td><img src="{{ slider.photo }}" class="img200"></td>
          <td>{{ slider.title }}</td>
					<td>{{ slider.createdAt ? slider.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_slider_show', {'id': slider.id}) }}">show</a>
						<a href="{{ path('app_slider_edit', {'id': slider.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_slider_new') }}">Create new</a>
{% endblock %}
